In [67]:
#Importando Bibliotecas
import pandas as pd
import numpy as np

<h1>Select Data</h1>

In [100]:
#Lendo o csv como DataFrame
raw_df = pd.read_csv('DataPrepFinal.csv')

In [101]:
#Analisando o Raw DataSet
raw_df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,09/10/15,100000,11/08/15 12:12,0,failed,0,GB,0.0,0,USD 153395
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,01/11/17,3000000,02/09/17 04:43,242100,failed,15,US,10000.0,242100,USD 3000000
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,26/02/13,4500000,12/01/13 00:20,22000,failed,3,US,22000.0,22000,USD 4500000
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,16/04/12,500000,17/03/12 03:24,100,failed,1,US,100.0,100,USD 500000
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,29/08/15,1950000,04/07/15 08:35,128300,canceled,14,US,128300.0,128300,USD 1950000

<h1>Clean Data</h1>

In [102]:
#Removendo colunas desnecess√°rias
df = raw_df.drop(columns=['Unnamed: 0', 'name', 'category', 'goal', 'pledged', 'usd pledged'])

In [105]:
df.head()

,ID,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,Publishing,GBP,09/10/15,11/08/15,failed,0,GB,0,153395
1,1000003930,Film & Video,USD,01/11/17,02/09/17,failed,15,US,242100,3000000
2,1000004038,Film & Video,USD,26/02/13,12/01/13,failed,3,US,22000,4500000
3,1000007540,Music,USD,16/04/12,17/03/12,failed,1,US,100,500000
4,1000011046,Film & Video,USD,29/08/15,04/07/15,canceled,14,US,128300,1950000

In [104]:
#Tratando a coluna usd_goal_real, removendo a string e deixando apenas os valores num√©ricos
df['usd_goal_real'] = df['usd_goal_real'].str.lstrip('USD').astype('int64')
#df['usd_goal_real'] = df['usd_goal_real'].apply(lambda x: x.strip('USD ')).astype('float64')

#Removendo a hora da coluna launched
df['launched'] = df['launched'].str.replace(' \d\d:\d\d', '', regex=True)

#Transformando as colunas no tipo data no padr√£o americano
df['deadline'] = pd.to_datetime(df['deadline'], format='%d/%m/%y')
df['launched'] = pd.to_datetime(df['launched'], format='%d/%m/%y')

In [109]:
df['time_range'] = (df['deadline'] - df['launched']).dt.days

In [110]:
df.head()

,ID,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,time_range
0,1000002330,Publishing,GBP,2015-10-09,2015-08-11,failed,0,GB,0,153395,59
1,1000003930,Film & Video,USD,2017-11-01,2017-09-02,failed,15,US,242100,3000000,60
2,1000004038,Film & Video,USD,2013-02-26,2013-01-12,failed,3,US,22000,4500000,45
3,1000007540,Music,USD,2012-04-16,2012-03-17,failed,1,US,100,500000,30
4,1000011046,Film & Video,USD,2015-08-29,2015-07-04,canceled,14,US,128300,1950000,56

In [ ]:
df['launched'].astype('data64')

In [108]:
df.dtypes

ID                           int64
main_category               object
currency                    object
deadline            datetime64[ns]
launched            datetime64[ns]
state                       object
backers                      int64
country                     object
usd_pledged_real             int64
usd_goal_real                int64
dtype: object

<h1>Construct Data</h1>

<h1>Integrate Data</h1>

<h1>Format Data</h1>